#main-pic {
  background-image: url("../images/header-overlay.jpg"), url("../images/header.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  height: 630px;
}

#slogan {
  margin-bottom: 70px;

  .container {
    max-width: 900px;
  }

  h2 {
    margin: 60px 0 30px 0;
  }
}
